Repository discord-modmail/modmail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-default-configuration-is-exported, generate_requirements.txt, flake8

.pre-commit-config.yaml:

## Pre-commit setup

repos:
  # its possible to put this at the bottom, but we want the pre-commit-hooks to check these files as well.
  - repo: local
    hooks:
      - id: ensure-default-configuration-is-exported
        name: Export default configuration
        language: python
        entry: poetry run python -m scripts.export_new_config_to_default_config
        files: '(app\.json|template\.env|modmail\/(config\.py|default_config(\.toml|\.yaml)))$'
        require_serial: true
        additional_dependencies:
          # so apparently these are needed, but the versions don't have to be pinned since it uses the local env
          # go figure.
          - atoml
          - attrs
          - click
          - coloredlogs
          - desert
          - discord.py
          - marshmallow
          - python-dotenv
          - pyyaml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
        exclude: 'mkdocs.yml' # Exclude all mkdocs.yml as they use tags i.e. `!!!`
      - id: pretty-format-json
        exclude: 'app.json'
        args: [--indent=4, --autofix]
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        name: protect-branch
        alias: protect-branch
        args: [--branch=main, --branch=master]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
    - id: generate_requirements.txt
      name: Generate requirements.txt
      entry: python -m scripts.export_requirements --docs
      files: '(pyproject.toml|poetry.lock|requirements.txt|scripts\/export\_requirements\.py|docs\/.requirements.txt)$'
      language: python
      pass_filenames: false
      require_serial: true
      additional_dependencies:
        - tomli~=1.2.1

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-use-type-annotations

  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.11.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black

  - repo: https://github.com/psf/black
    rev: 21.8b0
    hooks:
      - id: black
        language_version: python3

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
        entry: poetry run flake8
        language: python
        types: [python]
        require_serial: true

remove dependency on environs
  .pre-commit-config.yaml
  modmail/__init__.py
  modmail/log.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: generate_requirements.txt, flake8

fix: pin discord.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: generate_requirements.txt

update black
  poetry.lock
  pyproject.toml
Due: generate_requirements.txt

update precommit hooks
  .pre-commit-config.yaml
  modmail/__init__.py
Due: flake8

add configuration system to docs
  docs/changelog.md
Due: none

fix: readd rapidfuzz
  modmail/constraints.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: generate_requirements.txt

chore: remove unneccessary bug comment
  tests/modmail/conftest.py
Due: flake8

Add Threads/Tickets. (#53)
  docs/changelog.md
  modmail/bot.py
  modmail/config.py
  modmail/default_config.toml
  modmail/default_config.yaml
  modmail/extensions/threads.py
  modmail/utils/threads/__init__.py
  modmail/utils/threads/decorators.py
  modmail/utils/threads/errors.py
  modmail/utils/threads/models.py
  modmail/utils/users.py
  tests/modmail/extensions/test_threads.py
  tests/modmail/utils/threads/test_decorators.py
  tests/modmail/utils/threads/test_models.py
  tox.ini
Due: ensure-default-configuration-is-exported, flake8

tests/test error handler (#94)
  modmail/extensions/utils/error_handler.py
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

logging: add config for trace loggers and logging directory (#118)
  docs/changelog.md
  modmail/__init__.py
  modmail/dispatcher.py
  modmail/log.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/modmail/test_log.py
Due: generate_requirements.txt, flake8

tests: fix environment not being replaced soon enough (#126)
  tests/modmail/conftest.py
Due: flake8

update lint config
  .pre-commit-config.yaml
  docs/.requirements.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/export_requirements.py
  tox.ini
Due: generate_requirements.txt, flake8

run lint config
  docs/.requirements.txt
  modmail/config.py
  modmail/dispatcher.py
  modmail/extensions/threads.py
  modmail/plugins/local/README.md
  modmail/utils/pagination.py
  modmail/utils/responses.py
  modmail/utils/threads/models.py
  requirements.txt
  scripts/export_new_config_to_default_config.py
  tests/mocks.py
Due: ensure-default-configuration-is-exported, generate_requirements.txt, flake8

add build tag to rtd
  .readthedocs.yaml
Due: none

update dependencies
  docs/.requirements.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: generate_requirements.txt

use poetry as the runner
  .github/workflows/lint_test.yml
Due: none

update action versions
  .github/workflows/lint_test.yml
Due: none

fix status embed
  .github/workflows/lint_test.yml
  .github/workflows/status_embed.yml
Due: none

run tests on windows
  .github/workflows/lint_test.yml
Due: none

don't run lint on every platform
  .github/workflows/lint_test.yml
Due: none

update lint config (#138)
  .github/workflows/lint_test.yml
  .github/workflows/status_embed.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  docs/.requirements.txt
  modmail/config.py
  modmail/dispatcher.py
  modmail/extensions/threads.py
  modmail/plugins/local/README.md
  modmail/utils/pagination.py
  modmail/utils/responses.py
  modmail/utils/threads/models.py
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/export_new_config_to_default_config.py
  scripts/export_requirements.py
  tests/mocks.py
  tox.ini
Due: ensure-default-configuration-is-exported, generate_requirements.txt, flake8
