Repository discord-modmail/modmail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-default-configuration-is-exported, generate_requirements.txt, flake8

.pre-commit-config.yaml:

## Pre-commit setup

repos:
  # its possible to put this at the bottom, but we want the pre-commit-hooks to check these files as well.
  - repo: local
    hooks:
      - id: ensure-default-configuration-is-exported
        name: Export default configuration
        language: python
        entry: poetry run python -m scripts.export_new_config_to_default_config
        files: '(app\.json|template\.env|modmail\/(config\.py|default_config(\.toml|\.yaml)))$'
        require_serial: true
        additional_dependencies:
          # so apparently these are needed, but the versions don't have to be pinned since it uses the local env
          # go figure.
          - atoml
          - attrs
          - click
          - coloredlogs
          - desert
          - discord.py
          - environs
          - marshmallow
          - python-dotenv
          - pyyaml

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
        exclude: 'mkdocs.yml' # Exclude all mkdocs.yml as they use tags i.e. `!!!`
      - id: pretty-format-json
        exclude: 'app.json'
        args: [--indent=4, --autofix]
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        name: protect-branch
        alias: protect-branch
        args: [--branch=main, --branch=master]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
    - id: generate_requirements.txt
      name: Generate requirements.txt
      entry: python -m scripts.export_requirements --docs
      files: '(pyproject.toml|poetry.lock|requirements.txt|scripts\/export\_requirements\.py|docs\/.requirements.txt)$'
      language: python
      pass_filenames: false
      require_serial: true
      additional_dependencies:
        - tomli~=1.2.1

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-use-type-annotations

  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.11.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black

  - repo: https://github.com/psf/black
    rev: 21.8b0
    hooks:
      - id: black
        language_version: python3

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
        entry: poetry run flake8
        language: python
        types: [python]
        require_serial: true

feat: use a specific testing environment
  .gitignore
  tests/modmail/conftest.py
  tests/modmail/test.env
Due: flake8

feat: patch configuration directories to return the test directory
  .github/workflows/lint_test.yml
  tests/modmail/conftest.py
Due: flake8

chore: rename variables, use named format strings, and touch up error ui
  modmail/extensions/threads.py
Due: flake8

fix: use async rather than sync method for fetching tickets
  modmail/extensions/threads.py
  tests/modmail/extensions/test_threads.py
Due: flake8

nit: use valid kwargs footer_text instead of footer
  modmail/extensions/threads.py
Due: flake8

chore: standardize and dedupe code for edit and delete commands
  modmail/extensions/threads.py
Due: flake8

feat: add windows and mac testing
  .github/workflows/lint_test.yml
Due: none

chore: bump codecov build wait number to new tests count
  .codecov.yml
Due: none

docs: officially support windows and macos
  docs/changelog.md
Due: none

ci: add python 3.10 to workflows
  .github/workflows/lint_test.yml
Due: none

docs: add python3.10 support to changelog
  docs/changelog.md
Due: none

fix: upgrade humanfriendly to get rid of pyreadline
  poetry.lock
  requirements.txt
Due: generate_requirements.txt

explicitly include /tests/modmail/test.env in gitignore
  .gitignore
Due: none

chore: fix bugs arised from merge
  modmail/extensions/extension_manager.py
  modmail/extensions/utils/error_handler.py
  tests/modmail/extensions/test_plugin_manager.py
Due: flake8

fix: use discord.py advanced converters for Plugin models
  modmail/addons/models.py
  modmail/extensions/plugin_manager.py
  tests/modmail/addons/test_plugins.py
  tests/modmail/extensions/test_plugin_manager.py
Due: flake8

fix: patch plugin folder during tests
  modmail/addons/plugins.py
  tests/modmail/addons/test_plugins.py
  tests/modmail/conftest.py
  tests/modmail/plugins/README.md
  tests/modmail/plugins/__init__.py
  tests/modmail/plugins/test1.toml
  tests/modmail/plugins/working_plugin/working_plug.py
Due: flake8

fix: use WindowsSelectorEventLoopPolicy on windows
  modmail/__init__.py
Due: flake8

debug: run tests with verboseness, not quietness
  .github/workflows/lint_test.yml
Due: none

debug: #2--rewrite command in workflow
  .github/workflows/lint_test.yml
Due: none

fix: use pathlib to determine module name
  modmail/addons/plugins.py
Due: flake8

chore: fix windows dns lookup
  modmail/bot.py
  tests/conftest.py
  tests/modmail/addons/test_utils.py
Due: flake8

readd xdist to workflow
  .github/workflows/lint_test.yml
Due: none

chore: use a url parsing library instead of regex
  modmail/addons/models.py
Due: flake8

tests: add aioresponses for aiohttp response mocking
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: generate_requirements.txt, flake8

tests: add test resources and utils
  tests/modmail/addons/test_utils.py
  tests/resources/README.md
  tests/resources/modmail/modmail-plugins-1/Plugins/planet/planet.py
  tests/resources/modmail/modmail-plugins-1/Plugins/plugin.toml
  tests/utils.py
Due: flake8

ci: run tests with verboseness, not quietness
  .github/workflows/lint_test.yml
Due: none

chore: use a url parsing library instead of regex
  modmail/addons/models.py
  modmail/addons/utils.py
Due: flake8

deps: upgrade to 3.10 supported wheels
  poetry.lock
  requirements.txt
Due: generate_requirements.txt

fix: mark failing test as xfail
  tests/modmail/addons/test_utils.py
Due: flake8

deps: upgrade rapidfuzz to wheel supported version
  modmail/constraints.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: generate_requirements.txt

deps(db): Add aerich(migration) and tortoise-orm
  poetry.lock
  pyproject.toml
  requirements.txt
Due: generate_requirements.txt

feat(db): Add initial models as described in issue
  modmail/database/__init__.py
  modmail/database/models/__init__.py
  modmail/database/models/attachments.py
  modmail/database/models/configuration.py
  modmail/database/models/embeds.py
  modmail/database/models/emojis.py
  modmail/database/models/messages.py
  modmail/database/models/servers.py
  modmail/database/models/tickets.py
Due: flake8

feat(db): Run initial migration
  migrations/models/0_20211031115120_init.sql
Due: none

feat(db): Add model representing discord sticker
  modmail/database/models/__init__.py
  modmail/database/models/messages.py
  modmail/database/models/stickers.py
Due: flake8

feat(db): Apply migration for discord sticker model
  migrations/models/1_20211101070158_update.sql
Due: none

docs(contrib): Add PostgreSQL setup
  docs/contributing.md
Due: none
