Repository discord-modmail/modmail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-default-configuration-is-exported, generate_requirements.txt, flake8

ensure-default-configuration-is-exported:
  name: Export default configuration
  language: python
  entry: poetry run python -m scripts.export_new_config_to_default_config
  require_serial: true
  additional_dependencies:
  - atoml
  - attrs
  - click
  - coloredlogs
  - desert
  - discord.py
  - environs
  - marshmallow
  - python-dotenv
  - pyyaml

generate_requirements.txt:
  name: Generate requirements.txt
  entry: python -m scripts.export_requirements --docs
  language: python
  pass_filenames: false
  require_serial: true
  additional_dependencies:
  - tomli~=1.2.1

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  language: python
  require_serial: true

chore: lint fixes
  modmail/bot.py
Due: flake8

docs(contrib): Add applying migrations section
  docs/contributing.md
Due: none

feat(db): Add docker support
  Dockerfile
  docker-compose.yaml
  modmail/bot.py
Due: flake8

Add `__all__` to models `__init__.py`
  modmail/database/models/__init__.py
Due: flake8

Address Reviews
  docker-compose.yaml
  docs/contributing.md
  modmail/bot.py
Due: flake8

scripts: add diff output to export_requirements
  scripts/_utils.py
  scripts/export_requirements.py
Due: generate_requirements.txt, flake8

ci: checkout the actual ref instead of github's merge commit
  .github/workflows/lint_test.yml
Due: none

Model rename Servers -> Guilds
  modmail/database/models/__init__.py
  modmail/database/models/configuration.py
  modmail/database/models/guilds.py
  modmail/database/models/tickets.py
Due: flake8

Rename some model fields
  modmail/database/models/configuration.py
  modmail/database/models/tickets.py
Due: flake8

More foreign fields and run migration
  docs/contributing.md
  migrations/models/2_20211120132336_update.sql
  modmail/database/models/messages.py
  modmail/database/models/tickets.py
Due: flake8

Relock deps
  poetry.lock
  requirements.txt
Due: generate_requirements.txt

tests: test the first half of the error handler
  modmail/extensions/utils/error_handler.py
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

fix: remove duped reference
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

tests: error handler test reset cooldown
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

tests: finish testing handle_bot_missing_perms
  modmail/extensions/utils/error_handler.py
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

tests: finish testing handle_user_input_error
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

tests: add on_command_error tests
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

fix: move handling command invoke errors to its own function
  modmail/extensions/utils/error_handler.py
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

tests: add tests for command invoke errors
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

chore: remove unused import
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

logging: add config for trace loggers and logging directory
  modmail/__init__.py
  modmail/log.py
Due: flake8

dispatcher: import ModmailLogger from the correct module
  modmail/dispatcher.py
Due: flake8

logging: add changelog entry
  docs/changelog.md
Due: none

fix: skip trace logging if the log level isn't enabled
  tests/modmail/test_log.py
Due: flake8

deps: add python-dotenv as a top level dependency
  poetry.lock
  pyproject.toml
  requirements.txt
Due: generate_requirements.txt

chore: remove operator.attrgetter and implement recursive setters and getters
  modmail/extensions/configuration_manager.py
Due: flake8

chore: make the error spam less spammy for missing yaml file and dependency
  modmail/config.py
Due: ensure-default-configuration-is-exported, flake8

tests: fix environment not being replaced soon enough
  tests/modmail/conftest.py
Due: flake8

Revert "ci: run tests with verboseness, not quietness"
  .github/workflows/lint_test.yml
Due: none

chore: don't use __all__ in __init__.py
  modmail/__init__.py
Due: flake8

chore: make requested changes and address review
  modmail/addons/converters.py
  modmail/addons/errors.py
  modmail/addons/helpers.py
  modmail/addons/models.py
  modmail/addons/plugins.py
  modmail/bot.py
  modmail/extensions/extension_manager.py
  modmail/utils/extensions.py
Due: flake8

chore: refactor fetch_ticket to return None if no ticket found
  modmail/extensions/threads.py
  tests/modmail/extensions/test_threads.py
Due: flake8

nit: remove unused class with error hierarchy
  tests/modmail/extensions/utils/test_error_handler.py
Due: flake8

chore: rename variables, fix logic bug, make constant
  modmail/extensions/threads.py
  tests/modmail/extensions/test_threads.py
Due: flake8

fix(tests): only clear modmail specific environment variables
  tests/modmail/conftest.py
Due: flake8

Address reviews
  news/next/.gitkeep
  news/next/README.md
  scripts/news/__init__.py
  scripts/news/__main__.py
  scripts/news/check_news_workflow/__main__.py
  scripts/news/config.toml
  scripts/news/constants.py
  scripts/news/template.md.jinja
  scripts/news/utils.py
  tox.ini
Due: flake8

Use incrementing rather than nonceify
  scripts/news/__main__.py
  scripts/news/utils.py
Due: flake8

fix: use correct logic
  modmail/extensions/threads.py
Due: flake8

ci: add coverage artifacts
  .github/workflows/lint_test.yml
Due: none

Path conditions:
  ensure-default-configuration-is-exported: any of: (app\.json|template\.env|modmail\/(config\.py|default_config(\.toml|\.yaml)))$
  generate_requirements.txt: any of: (pyproject.toml|poetry.lock|requirements.txt|scripts\/export\_requirements\.py|docs\/.requirements.txt)$
  flake8: any of: \.py$
