Repository discord-modmail/modmail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-default-configuration-is-exported, generate_requirements.txt, flake8

ensure-default-configuration-is-exported:
  name: Export default configuration
  language: python
  entry: poetry run python -m scripts.export_new_config_to_default_config
  require_serial: true
  additional_dependencies:
  - atoml
  - attrs
  - click
  - coloredlogs
  - desert
  - discord.py
  - environs
  - marshmallow
  - python-dotenv
  - pyyaml

generate_requirements.txt:
  name: Generate requirements.txt
  entry: python -m scripts.export_requirements --docs
  language: python
  pass_filenames: false
  require_serial: true
  additional_dependencies:
  - tomli~=1.2.1

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  language: python
  require_serial: true

tests: add annotations for test failures
  tests/conftest.py
Due: flake8

tests: add xfail for annotation example
  tests/modmail/test_logs.py
Due: flake8

ci(coverage): switch from codecov to coveralls
  .codecov.yml
  .github/workflows/lint_test.yml
  README.md
  poetry.lock
  pyproject.toml
Due: generate_requirements.txt

chore: collect coverage for all test files
  .github/workflows/lint_test.yml
  pyproject.toml
Due: generate_requirements.txt

chore: remove coverage html artifacts
  .github/workflows/lint_test.yml
Due: none

fix: publish coverage on a failed test run and make coveralls optional
  .github/workflows/lint_test.yml
Due: none

fix: use type() instead of __class__
  modmail/extensions/configuration_manager.py
  scripts/export_new_config_to_default_config.py
Due: flake8

fix: use type() instead of __class__
  modmail/extensions/utils/error_handler.py
Due: flake8

chore: comment coveralls actions
  .github/workflows/lint_test.yml
Due: none

fix: run black and flake8 even on pre-commit failure
  .github/workflows/lint_test.yml
Due: none

chore: fix windows dns lookup
  modmail/__init__.py
  modmail/bot.py
  tests/conftest.py
Due: flake8

tests: add aioresponses for aiohttp response mocking
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: generate_requirements.txt, flake8

tests: add tests for aiohttp fixture
  tests/test_fixtures.py
Due: flake8

chore: better document why the loop policy is required
  modmail/__init__.py
Due: flake8

nit: uppercase On
  modmail/__init__.py
Due: flake8

tools: remove flake8-bandit
  poetry.lock
  pyproject.toml
Due: generate_requirements.txt

deps: run poetry lock --no-update
  docs/.requirements.txt
  poetry.lock
Due: generate_requirements.txt

Add lock no update task
  pyproject.toml
Due: generate_requirements.txt

Update pyproject.toml
  pyproject.toml
Due: generate_requirements.txt

Add lock no update task (#133)
  pyproject.toml
Due: generate_requirements.txt

feat: basic help command using real pagination
  modmail/extensions/utils/help_command.py
  modmail/utils/pagination.py
Due: flake8

feat: add minimal help_command
  modmail/extensions/utils/help_command.py
  modmail/utils/pagination.py
Due: flake8

rename help_command to help
  modmail/extensions/utils/help.py
Due: flake8

fix: paginator can now not use an embed
  modmail/utils/pagination.py
  tests/modmail/utils/test_pagination.py
Due: flake8

chore: fold get_footer functionality into update_states
  modmail/utils/pagination.py
  tests/modmail/utils/test_pagination.py
Due: flake8

fix: add title and footer field to embedless paginators
  modmail/utils/pagination.py
Due: flake8

chore: decompress if statement
  modmail/utils/pagination.py
Due: flake8

fix(paginator): allow titles even if embed is None
  modmail/utils/pagination.py
Due: flake8

nit: add docstring, constant, additional max_size shrinkage
  modmail/utils/pagination.py
Due: flake8

feat: debugger module for dumping logs in guild
  modmail/extensions/debug.py
Due: flake8

fix: fully resolve the provided logging dir
  modmail/log.py
Due: flake8

Remove star imports :D
  scripts/news/__main__.py
  scripts/news/utils.py
Due: flake8

Use GITHUB_TOKEN while running the check tool as it would be passed my workflow runner
  scripts/news/check_news_workflow/__main__.py
  tox.ini
Due: flake8

Migrate to new changelog format
  news/latest.md
  news/next/feature/2021-12-14.pr-119.md
  news/next/feature/2021-12-14.pr-121.md
  news/next/feature/2021-12-14.pr-71.md
  news/next/feature/2021-12-14.pr-89.md
  news/next/improvement/2021-12-14.pr-78.md
Due: none

Make changelog append to latest and not separate per version
  scripts/news/__main__.py
  scripts/news/constants.py
  scripts/news/template.md.jinja
  scripts/news/utils.py
Due: flake8

chore: add bool support for paginator embed generation
  modmail/utils/pagination.py
Due: flake8

chore: address reviews
  modmail/config.py
  modmail/errors.py
  modmail/utils/converters.py
  modmail/utils/pagination.py
Due: ensure-default-configuration-is-exported, flake8

Revert "tools: remove flake8-bandit"
  poetry.lock
  pyproject.toml
  requirements.txt
Due: generate_requirements.txt

review: address
  modmail/addons/converters.py
  modmail/addons/models.py
  modmail/addons/plugins.py
  modmail/config.py
  modmail/extensions/extension_manager.py
  modmail/extensions/plugin_manager.py
  scripts/_utils.py
Due: ensure-default-configuration-is-exported, flake8

Path conditions:
  ensure-default-configuration-is-exported: any of: (app\.json|template\.env|modmail\/(config\.py|default_config(\.toml|\.yaml)))$
  generate_requirements.txt: any of: (pyproject.toml|poetry.lock|requirements.txt|scripts\/export\_requirements\.py|docs\/.requirements.txt)$
  flake8: any of: \.py$
